html, body {
  height: 100%;
  margin: 0;
}

.map-container, #map-error, #loading{
  min-height: 100%;
}

.ham {
  width: 35px;
   height: 5px;
   background-color: black;
   margin: 6px 0;
   display: block;
}

.ham-menu{
  padding: 10px;
  position: fixed;
  z-index: 9999;
  background-color: #808080;
}
.place{
  background-color: #33FFBD;
  padding: 20px;
  margin: 5px;
}
ul{
  list-style-type: none;
}
.icon{
  width: 100px;
  height: 100px;
}
.place-title{
  font-size: 18px;
  font-weight: bold;
}
#foursquareError, #no-cool, #no-uncool, #map-error, #map{
   visibility: hidden;
}

#outer{
    width:100%;
    text-align: center;
}
.inner{
    display: inline-block;
}

.error-img{
  width: 500px;
   height: 500px;
   margin: -250px 0 0 -250px;
   position: absolute;
   left: 50%;
   top: 50%;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #808080;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
